<style>
    .video {
        width: 100%;
        min-width: 100%;
    }
    .video img {
        width: 100%;
    }
</style>

<h5>SLD Dashboard</h5>

<% user.user_inspread_videos.forEach(function(video) { %>
    <div class="video">
        <a href="/sld/video/<%= video.id %>">
            <img src="<%= video.poster %>" alt="">
        </a>
    </div>
<% }) %>