
<div class="thumbMenuContainer">
    <div class="user-menu dropdown-menu">
        <button class="dropbtn-menu"><i class="fas fa-bars"></i></button>
        <div class="dropdown-content-menu">
        <a href=""><i class="fas fa-house-user"></i></a>
        <a href=""><i class="fas fa-car"></i></a>
        <a href=""><i class="fas fa-briefcase"></i></a>
        <a href=""><i class="fas fa-shopping-basket"></i></a>
        <a href=""><i class="fas fa-address-card"></i></a>
        <a href=""><i class="fas fa-vr-cardboard"></i></a>
        <a href=""><i class="fas fa-address-book"></i></a>
        <a href=""><i class="fas fa-sign-out-alt"></i></a>
    </div>
</div>
    
</div>
