<style>



    @media screen and (max-width: 2699px) {
        .main-header-page-menu-container {
            width: 15vw;
            padding-left: 0;
            padding-right: 0;
            position: fixed;
            bottom: 0;
            left: 0;
            min-height: 100vh;
            z-index: 8800;
            padding: 0;
            border-radius: 0;
            display: none;
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: lightskyblue;
            text-align: center;
            font-size: 0.6rem;
        }
        
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;

        }
        

        .main-header-page-menu-inner {
            display: block;
            max-width: 100%;
            min-width: 100%;
            overflow-x: hidden;
            width: 100%;
            max-width: 100%;
            background: rgba(135, 206, 250, 0.3);
            border: none;
            border-right: groove 2px rgba(255, 255, 255, 0.3);
            box-shadow: 0 -4px 4px 2px rgba(0, 0, 0, 0.5);
        }
        .main-header-page-menu-inner a {
            position: relative;
            width: 100%;
            text-align: center;
            color: #fff;
        }
        .main-header-page-menu-inner a:first-of-type {
            border-left: none;
        }
        .main-header-page-menu-inner p {
            text-align: center;
            font-size: 1rem;
            padding-top: 4px;
            color: #fff;
        }
    }
    @media screen and (max-width: 1199px) {
        .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            position: fixed;
            bottom: 0;
            left: 0;
            min-height: 20px;
            max-height: 40px;
            z-index: 8800;
            padding: 0;
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: lightskyblue;
            text-align: center;
            font-size: 0.6rem;
        }
        
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;

        }
        

        .main-header-page-menu-inner {
            display: inline-flex;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            width: 100%;
            background: rgba(135, 206, 250, 0.3);
            border-top: groove 2px rgba(255, 255, 255, 0.3);
            box-shadow: 0 -4px 4px 2px rgba(0, 0, 0, 0.5);
        }
        .main-header-page-menu-inner a {
            position: relative;
            width: 150px;
            text-align: center;
            color: #fff;
            border-left: groove 2px rgba(255, 255, 255, 0.3);
        }
        .main-header-page-menu-inner a:first-of-type {
            border-left: none;
        }
        .main-header-page-menu-inner p {
            text-align: center;
            font-size: 1rem;
            padding-top: 4px;
            color: #fff;
        }
    }


    @media screen and (max-width: 500px) {
    .main-header-page-menu-container {
        backdrop-filter: blur(2px);
        border-left: groove 1px rgba(135, 206, 250, 0.555);
        border-right: groove 1px rgba(135, 206, 250, 0.555);
        position: fixed;
        bottom: 0;
        left: 0;
        height: 40px;
        width: 100vw;
        
    }
    .main-header-page-menu-container p {
        text-align: center;
        padding: 5px;
        padding-top: 0;
    }
    .main-header-page-menu-inner {
        position: relative;
    }

    .main-header-page-menu-inner a {
        display: inline-flex;
        padding-bottom: 5px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.733);
        transition: ease-in 0.4s;
        max-height: 40px;
        backdrop-filter: blur(4px);
        width: auto;
        text-align: center;
        box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.5);
    }

    .main-header-page-menu-inner a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 3px lightskyblue;
        transition: ease-in 0.2s;
    }
}


</style>
<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenu">
        <div class="main-header-page-menu-inner">
            <a href="/dashboard/wall">
                <p>
                    SocialSpread
                </p>
            </a>
            <a href="/yourspread">
                <p>
                    YourSpread
                </p>
            </a>
            <a href="/socialspread">
                <p>
                    PhotoSpread
                </p>
            </a>
            <a href="/spreadchat">
                <p>
                    SpreadChat
                </p>
            </a>
            <a href="/tools">
                <p>
                    Tools
                </p>
            </a>
            <a href="/academy/questions">
                <p>
                    Questions
                </p>
            </a>
            <a href="/spreadshield">
                <p>
                    SpreadShield
                </p>
            </a>
            <a href="/flexfloor">
                <p>
                    FlexFloor
                </p>
            </a>
            <a href="/aether">
                <p>
                    Aether
                </p>
            </a>
        </div>
    </div>
</div>
