<style>
    .main-header-site-menu-container {
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        border-radius: 12px;
        padding: 10px;
        margin-bottom: 20px;
        border-left: groove 1px rgba(135, 206, 250, 0.555);
        border-right: groove 1px rgba(135, 206, 250, 0.555);
    }
    .main-header-site-menu-inner {
    }
    .main-header-site-menu-slider {
        display: inline-flex;
            max-width: 80%;
            min-width: 80%;
            overflow-x: scroll;
            padding: 10px;
            width: 80%;
            margin-left: 20px;
    }
    .main-header-site-menu-inner a {
        display: inline-flex;
        padding: 10px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.733);
        transition: ease-in 0.4s;
        background: rgba(255, 255, 255, 0.3);
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        backdrop-filter: blur(4px);
        border-radius: 8px;
        width: auto;
        min-width: 150px;
        text-align: center;
        box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.5);
        margin-left: 10px;
        
    }
    .main-header-site-menu-inner a:hover {
        text-decoration: none;

    }
    .logout-button a {
        background: rgba(255, 0, 0, 0.3);
        border-radius: 8px;
        color: #fff;
        text-shadow: 0 0 3px red;
        text-decoration: none;
        transition: ease-in 0.4s;
        border-top: groove 2px red;
        border-bottom: groove 2px red;
    }
    .logout-button a:hover {
        color: red;
        text-decoration: none;
        background: rgba(255, 255, 255, 0.603);
        box-shadow: inset 0 0 10px red, 0 0 10px red;
        transition: ease-in 0.2s;
    }
    @media screen and (max-width: 500px) {
        .main-header-site-menu-container {
        background: lime;
        display: none;
        }
    }
</style>
<div class="main-header-site-menu-container">
    <div id="mainHeaderSiteMenu">
        <div class="main-header-site-menu-inner">
            <div class="row ">
                <div class="col-10 main-header-site-menu-slider">
                        <a href="/dashboard/wall">YourSpread</a>
                        <a href="/academy">Academy</a>
                        <a href="/business">Business</a>
                        <a href="/entertainment">Entertainment</a>
                        <a href="/news">News</a>
                        <a href="/shopping">Shopping</a>
                        <a href="/wellness">Wellness</a>
                </div>
                <div class="col-2">
                    <div class="logout-button">
                        <a href="/users/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
