<h1><%= currentPageTitle %></h1>
<div class="nav-bar">
    <a href="/academy/courses">All Courses</a>
</div>

<div class="academy-footer">
    <div class="nav-bar">
        <a href="/academy/add-course">Add New Course</a>
    </div>
</div>