
<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-10">
                <a href="/dashboard/wall">YourSpread</a>
                <a href="/academy">Academy</a>
                <a href="/business">Business</a>
                <a href="/news">News</a>
                <a href="/shopping">Shopping</a>
                <a href="/wellness">Wellness</a>
            </div>
            <div class="col-2">
                <a href="/users/logout" class="logout-button" style="padding-left: 10px; padding-right: 10px; text-shadow: 0 0 4px red; color: rgba(255, 255, 255, 0.712);">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-12">
                <a href="/academy">Your Desk</a>
                <a href="/academy/courses">Courses</a>
                <a href="#">Tools</a>
                <a href="#">Help</a>
            </div>

        </div>
    </div>
</div>
<h1><%= currentPageTitle %></h1>
<h2><%= courseInfo %></h2>
<h2><%= course %></h2>
<div class="row">
    <div class="update-profile col-12">
        <form action="/academy/courses/<%= course %>/add-class" method="POST">
            <div class="s-m-outlet">
                <p>Class Name</p>
                <input type="text" name="name">
            </div>
            <div class="s-m-outlet">
                <textarea name="description" id="classDescription" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="Add Class">
        </form>
    </div>
</div>