
<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-10">
                <a href="/dashboard/wall">YourSpread</a>
                <a href="/academy">Academy</a>
                <a href="/business">Business</a>
                <a href="/news">News</a>
                <a href="/shopping">Shopping</a>
                <a href="/wellness">Wellness</a>
            </div>
            <div class="col-2">
                <a href="/users/logout" class="logout-button" style="padding-left: 10px; padding-right: 10px; text-shadow: 0 0 4px red; color: rgba(255, 255, 255, 0.712);">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-12">
                <a href="/academy">Your Desk</a>
                <a href="/academy/courses">Courses</a>
                <a href="#">Tools</a>
                <a href="#">Help</a>
            </div>

        </div>
    </div>
</div>
<h1><%= currentPageTitle %></h1>

<div class="row">
    <div class="update-profile col-12">
        <form action="/academy/add-course" method="POST">
            <div class="s-m-outlet">
                <p>Course Catagory</p>
                <select name="subject" id="subject">
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="reading">Reading</option>
                    <option value="language">Language</option>
                    <option value="art">Art</option>
                    <option value="music">Music</option>
                    <option value="fitness">Fitness</option>
                    <option value="computer_science">Computer Science</option>
                    <option value="health">Health</option>
                </select>
                
            </div>
            <div class="s-m-outlet">
                <p>Course Name</p>
                <input type="text" name="course">
            </div>
            <div class="s-m-outlet">
                <p>Course Difficulty</p>
                <select name="difficulty" id="difficulty">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="s-m-outlet">
                <p>Credit Value</p>
                <input type="number" name="credit_value">
            </div>
            <input type="submit" value="Add Course">
        </form>
    </div>
</div>
