<% files.forEach(function(image){ %>
    <div style="padding: 7px;">
        <div> 
            <div> 
                <div class="med-image"> 
                    <img src="/image/<%= image.filename %>" width="300px" height="300px"> 
                    
                </div> 
            </div> 
        </div> 
        
    </div>
    
    <% }); %>