<style>
    .edit-form {
        width: 100%;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 15px;
        padding-top: 20px;
    }
    .edit-form textarea {
        width: 90%;
        margin-left: 5%;
        border-radius: 8px;
        padding: 5px;
        margin-bottom: 10px;
    }
    .edit-form button {
        width: 80%;
        margin-left: 10%;
        background: green;
        border: groove 2px green;
        border-bottom: none;
        outline: none;
        color: #fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
</style>
<h1>Edit Comment</h1>
<div class="edit-form">
    <form action="/users/comment/edit/<%= comment.id %>?_method=PATCH" method="POST">
        <textarea name="commentBody"><%= comment.commentBody %></textarea>
        <button>ReSpread</button>
    </form>
</div>