<style>
    .page-title {
        text-align: center;
        padding: 20px;
    }
    iframe {
        border-radius: 8px;
        margin-bottom: 20px;
    }
    iframe > .ag {
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<div class="page-title">
  <h5>Entertainment</h5>
    <h1>Music Home</h1>
</div>

<div class="main-header-page-menu-container">
  <div id="mainHeaderPageMenu">
      <div class="main-header-page-menu-inner">
          <a href="/entertainment">Entertainment Home</a>
          <a href="/entertainment/movies">Movies</a>
          <a href="/entertainment/tv">TV Shows</a>
          <a href="/entertainment/videos">Videos</a>
          <a href="/entertainment/music">Music</a>
          <a href="/entertainment/podcasts">Podcasts</a>
          <a href="/entertainment/audio-books">Audio Books</a>
          <a href="/entertainment/sports">Sports</a>

      </div>
  </div>
  <p>Scroll left & right for more options</p>
</div>



<% returnedData.data.forEach(function(song) { %>
  <p><%= song.title %></p>
  <p><a href="<%= song.link %>"><%= song.link %></a></p>
<% }) %>