<style>
    .entertainment-categories {
        background: rgba(0, 0, 0, 0.3);
        padding: 10px;
        border-radius: 8px;
        border-left: groove 1px lightskyblue;
        border-right: groove 1px lightskyblue;
    }
    .entertainment-categories a {
        background: rgba(255, 255, 255, 0.3);
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        color: #fff;
        padding: 8px;
        border-radius: 8px;
    }
</style>
<h1 style="text-align: center; margin-bottom: 30px;">Entertainment</h1>
<div class="entertainment-categories">
    <a href="/entertainment/movies">Movies</a>
    <a href="/entertainment/tv">TV</a>
    <a href="/entertainment/music">Music</a>
</div>