<style>

</style>

<div class="page-title">
    <h5>Entertainment</h5>
    <h1>Audio Books Home</h1>
</div>

<div class="main-header-page-menu-container">
  <div id="mainHeaderPageMenu">
      <div class="main-header-page-menu-inner">
          <a href="/entertainment">Entertainment Home</a>
          <a href="/entertainment/movies">Movies</a>
          <a href="/entertainment/tv">TV Shows</a>
          <a href="/entertainment/videos/<%= user.id %>">Videos</a>
          <a href="/entertainment/music">Music</a>
          <a href="/entertainment/podcasts">Podcasts</a>
          <a href="/entertainment/audio-books">Audio Books</a>
          <a href="/entertainment/sports">Sports</a>

      </div>
  </div>
  <p>Scroll left & right for more options</p>
</div>

