<style>
    .slider-container {
        text-align: center;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        border-left: groove 1px lightskyblue;
        border-right: groove 1px lightskyblue;
        padding: 20px;
    }
    .slider-container p {
        padding-top: 15px;
        color: lightskyblue;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .slider-container small {
        color: lightskyblue;
    }
    .entertainment-categories {
    }
    .entertainment-categories a {
        background: rgba(255, 255, 255, 0.3);
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        color: #fff;
        padding: 8px;
        border-radius: 8px;
        margin-left: 8px;
    }
</style>
<div class="page-title">
    <h1>Entertainment</h1>
</div>

<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenu">
        <div class="main-header-page-menu-inner">
            <a href="/entertainment">Entertainment Home</a>
            <a href="/entertainment/movies">Movies</a>
            <a href="/entertainment/tv">TV Shows</a>
            <a href="/entertainment/videos/<%= user.id %>">Videos</a>
            <a href="/entertainment/music">Music</a>
            <a href="/entertainment/podcasts">Podcasts</a>
            <a href="/entertainment/audio-books">Audio Books</a>
            <a href="/entertainment/sports">Sports</a>

        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>

<div class="entertainment-news">
    <div class="articles">
        <div class="article">
            <h5>DUMMY ARTICLE 1</h5>
            <p>Dummy article 1 preview</p>
        </div>
        <div class="article">
            <h5>DUMMY ARTICLE 2</h5>
            <p>Dummy article 2 preview</p>
        </div>
    </div>
</div>