<style>

    /* Stations */
    .your-stations {
        border-left: groove 1px lightskyblue;
        border-right: groove 1px lightskyblue;
        border-radius: 8px;
        min-height: 200px;
        background: rgba(0, 0, 0, 0.3);
    }
    .your-stations h5 {
        text-align: center;
        padding: 10px;
    }

    /* Shows */
    .your-shows {
        border-left: groove 1px lightskyblue;
        border-right: groove 1px lightskyblue;
        border-radius: 8px;
        min-height: 200px;
        background: rgba(0, 0, 0, 0.3);
;    }
    .your-shows h5 {
        text-align: center;
        padding: 10px;
    }

    /* Slider */
    
    .slider {
        width: 100%;
        height: 180px;
        max-height: 180px;
        min-height: 180px;
        display: inline-flex;
        overflow-x: scroll;
        padding: 10px;
        
    }
    .slide-option {
        width: 200px;
        min-width: 200px;
        border-radius: 8px;
        margin-right: 20px;
        padding-left: 20px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        background:rgba(255, 255, 255, 0.3);
    }
</style>

<div class="page-title">
    <h1>TV Home</h1>
</div>

<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenu">
        <div class="main-header-page-menu-inner">
            <a href="/entertainment">Entertainment Home</a>
            <a href="/entertainment/movies">Movies</a>
            <a href="/entertainment/videos/<%= user.id %>">Videos</a>
            <a href="/entertainment/music">Music</a>
            <a href="/entertainment/podcast">Podcasts</a>
            <a href="/entertainment/audio-books">Audio Books</a>
            <a href="/entertainment/sports">Sports</a>

        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>

<div class="your-stations">
    <h5>Your Stations</h5>
    <div class="slider">
        <div class="slide-option"></div>
        <div class="slide-option"></div>
        <div class="slide-option"></div>
        <div class="slide-option"></div>
        <div class="slide-option"></div>
    </div>
</div>

<div class="spread-break">
    <hr>
</div>

<div class="your-shows">
    <h5>Your Shows</h5>
    <div class="slider">
        <div class="slide-option"></div>
        <div class="slide-option"></div>
        <div class="slide-option"></div>
        <div class="slide-option"></div>
        <div class="slide-option"></div>
    </div>
</div>