<style>
    .page-title {
        text-align: center;
    }
    .upload-video {
        width: 90%;
        margin-left: 5%;
        background: rgba(255, 255, 255, 0.3);
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 8px;
        text-align: center;
    }
    .upload-video a {
        width: 100%;
        text-align: center;
        color: #fff;
    }
    .user-data {
       /*  background: rgb(117, 8, 150); */
        width: 100%;
    }
    .user-data p {
        color: #fff;
    }
    .user-uploads {
        background: rgba(255, 255, 255, 0.3);
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 8px;
        overflow-y: scroll;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        height: 300px;
        min-height: 300px;
    }
    .user-video {
        background: rgba(0, 0, 0, 0.3);
        margin-top: 10px;
        width: 90%;
        margin-left: 5%;
        border-radius: 8px;
        border-bottom: groove 2px lightskyblue;
        padding-bottom: 20px;
    }
    .user-video video {
        width: 100%;
        border-top-left-radius: 8px;
        border-bottom: groove 2px lightskyblue;
        border-top-right-radius: 8px;
    }
    .video-title {
        padding-top: 10px;
    }
    .new-videos {
        width: 100%;
        height: 300px;
        min-height: 300px;
        /* background: blue; */
    }
</style>

<div class="page-title">
    <h5>Entertainment</h5>
    <h1>Video Dashboard</h1>
</div>

<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenu">
        <div class="main-header-page-menu-inner">
            <a href="/entertainment">Entertainment Home</a>
            <a href="/entertainment/movies">Movies</a>
            <a href="/entertainment/tv">TV Shows</a>
            <a href="/entertainment/videos/<%= user.id %>">Videos</a>
            <a href="/entertainment/music">Music</a>
            <a href="/entertainment/podcasts">Podcasts</a>
            <a href="/entertainment/audio-books">Audio Books</a>
            <a href="/entertainment/sports">Sports</a>

        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>


<div class="upload-video">
    <a href="/entertainment/videos/<%= user.id %>/upload">Upload a Video</a>
</div>
<h5 style="text-align: center;">Your Uploads</h5>
<div class="user-data">
    <div class="user-uploads">
        <% userVideo.forEach(function(video) { %>
            <div class="user-video">
                <video src="https://stream.mux.com/<%= video.asset %>.m3u8  " controls></video>
                <div class="video-info">
                    <div class="video-title">
                        <h5><%= video.title %></h5>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<div class="new-videos">

</div>