<%= currentPageTitle %>

<div class="article-container">
<div class="article-header">

    <h1><%= thisArticle.articleTitle %></h1>
    <hr>
    <h3><%= thisArticle.articleHeader %></h3>
</div>
    <p><%= thisArticle.articleBody %></p>
    
</div>