<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <title>WideSpread</title>
    <link rel="stylesheet" href="/css/style.css" id="style">
    <link rel="stylesheet" href="/css/user-card.css">
    <link rel="stylesheet" href="/css/flashcard.css">
    <link rel="stylesheet" href="/css/tabs.css">
    <link rel="stylesheet" href="/css/socialspread.css">
    <link rel="stylesheet" href="/css/flexfloor.css">
    <link rel="stylesheet" href="/css/spreadshield.css">
    <script src="/js/tabs.js"></script>

</head>
<body>
    <div class="video-background">
        <video autoplay loop>
            <source src="videos/space-particles_1a1a1a.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        <!-- Space Particles - Video by <a href="https://pixabay.com/users/tommyvideo-3092371/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5200">Tomislav Jakupec</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5200">Pixabay</a> -->
        <!-- Earth Particles - Video by <a href="https://pixabay.com/users/llensgraf-2065862/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=17235">Leif Lensgraf</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=17235">Pixabay</a> -->
    </div>
    <div class="widespread-header">
        <div class="logo">
            <h1><a href="/dashboard" title="Go to your Dashboard">WideSpread</a></h1>
        </div>

        <div class="user-info">

            <div class="user-menu dropdown-menu">
                <button class="dropbtn-menu"><i class="fas fa-ellipsis-v"></i></button>
                <div class="dropdown-content-menu">
                <a href="#"><small style="font-size: 0.5rem;">Menu not hooked up yet</small></a>
                <a href=""><i class="fas fa-house-user"></i></a>
                <a href=""><i class="fas fa-car"></i></a>
                <a href=""><i class="fas fa-briefcase"></i></a>
                <a href=""><i class="fas fa-shopping-basket"></i></a>
                <a href=""><i class="fas fa-address-card"></i></a>
                <a href=""><i class="fas fa-vr-cardboard"></i></a>
                <a href=""><i class="fas fa-address-book"></i></a>
                <a href=""><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
        </div>
        
    </div>
    <div class="container">
        <%- body %>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <script src="/js/user-card.js"></script> -->

</body>
</html>