<style>

    @media screen and (min-width: 299px) {
      .video-background {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        min-width: 100vw;
        width: 100vw;
      }
      .video-background video {
        min-height: 100vh;
        height: 100vh;
        opacity: 0.75;
        width: auto;
        margin-left: -25%;
        background: #000;
        z-index: -100;
      }

      .login-form {
        background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.15));
        backdrop-filter: blur(4px);
        min-width: 100vw;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 10px;
        border-top: outset 2px lightskyblue;
        border-bottom: outset 2px lightskyblue;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
      }
      .login-form h5 {
        padding: 10px;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        margin-bottom: 15px;
        border-top: outset 2px lightskyblue;
        border-bottom: outset 2px lightskyblue;
      }
      .spread-input {
        width: 100%;
        padding: 0;
        margin-top: 20px;
      }
      .spread-input label {
        color: #fff;
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);
        font-size: 1.2rem;
        width: 100%;
        padding: 5px;
        padding-right: 15px;
        text-align: center;
        border-top: outset 1px lightskyblue;
        border-right: outset 1px lightskyblue;
        border-top-right-radius: 4px;
      }
      .spread-input input {
        margin-bottom: 10px;
        margin-top: 8px;
        background: rgba(135, 206, 250, 0.5);
        backdrop-filter: blur(4px);
        width: 100%;
        outline: none;
        border: none;
        border-top: outset 1px #fff;
        border-bottom: outset 1px #fff;
        padding: 5px;
        box-shadow: inset 0 0 4px #fff, inset 0 0 8px lightskyblue;
      }
      .spread-input input::placeholder {
        color: #fff;
      }
      .login-form button {
        width: 80%;
        margin-left: 10%;
        margin-top: 20px;
        background: rgba(0, 128, 0, 0.5);
        backdrop-filter: blur(4px);
        color: #fff;
        padding: 5px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: outset 1px lime;
        border-bottom: none;
      }
      .widespread-logo {
        width: 100vw;
        max-width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .widespread-logo img {
        width: 50%;
        opacity: 0.75;
        filter: drop-shadow( 0 0 8px rgba(135, 206, 250, 0.75)); 
      }


    }

    @media screen and (min-width: 768px) {

    }

    @media screen and (min-width: 992px) {

    }


  @media screen and (min-width: 1200px) {
        body {
          background: #000;
        }
        .main-spread-menu {
            display: none;
        }
        .main-spread-menu-container {
            box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.5);
        }
        .both-forms {
          width: 85vw;
          display: inline-flex;
          overflow: hidden;
          position: fixed;
          top: 85px;
          padding-bottom: 85px;
          right: 0;
        }
        .both-forms button {
          margin-top: 40px;
          background: rgba(0, 255, 0, 0.3);
          backdrop-filter: blur(4px);
          font-size: 1.5rem;
          width: 50%;
          margin-left: 0;
          box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.5);
          border: solid 1px green;
          border-radius: 8px;
          padding: 10px;

        }
        .glass {
          background: rgba(135, 206, 250, 0.3);
          backdrop-filter: blur(2px);
          padding-bottom: 20px;
          border-top: groove 2px lightskyblue;
          border-bottom: groove 2px lightskyblue;
          box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.5);
        }
        .login-form {
          width: 30%;
          position: relative;
        }
        .login-form form {
          position: absolute;
          top: 30px;
          left: 0;
          width: 100%;
        }
        .login-form label {
          font-size: 0.7rem;
          color: #fff;
          text-align: center;
          width: 100%;
          margin-top: 10px;
        }
        .login-form input {
          right: 10px;
          padding: 5px;
          background: rgba(135, 206, 250, 0.3);
          border: none;
          border-top: groove 2px #fff;
          border-bottom: groove 2px #fff;
          outline: none;
          margin-top: 5px;
          border-radius: 0;
          width: 100%;
        }
        /* WideSpread Logo */
        .widespread-logo {
          width: 40%;
          min-width: 40%;
          margin-left: 5%;
          text-align: center;
          padding-top: 150px;
        }
        .widespread-logo img {
          width: 100%;
          max-width: 100%;
          min-width: 100%;
          filter: drop-shadow( 0 0 15px  #000); 
        }

      
    }



</style>


<!-- Background Video -->

<div class="video-background">
  <video autoplay muted loop id="vidBackground">
    <source src="/videos/space-particles_1a1a1a.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <!-- Space Particles - Video by <a href="https://pixabay.com/users/tommyvideo-3092371/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5200">Tomislav Jakupec</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5200">Pixabay</a> -->
    <!-- Earth Particles - Video by <a href="https://pixabay.com/users/llensgraf-2065862/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=17235">Leif Lensgraf</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=17235">Pixabay</a> -->
</div>


<!-- Main SpreadMenu -->

<div class="main-spread-menu-container">
  <%- include('./partials/mainSpreadMenu') %>
</div>



  <!-- Login Form -->

  <div class="login-form">   
    <%- include('./partials/messages') %>
    <form action="/users/login" method="POST">
      <div class="glass">
        <h5><i class="fas fa-sign-in-alt"></i>  Login</h5>
        <div class="spread-input">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="input-control login-input spread-input"
            placeholder="Enter your email"
            />
        </div>
        <div class="spread-input">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            />
        </div>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>


  <!-- WideSpread Logo -->

  <div class="widespread-logo">
    <img src="/images/system/widespread_logo_1d.png" alt="WideSpread Logo">
  </div>
