<form action="/users/new-resume" method="POST">
    <p>Your Bio</p>
    <textarea name="bio" id="bio" cols="30" rows="10"></textarea>

    <div class="s-m-outlet">
        <p>Special Skills</p>
        <input type="text" name="special_skills" id="special_skills">
    </div>

    <input type="submit" value="Create Resume">
</form>