<div class="resume-form">
    <form action="/users/add-to-resume?_method=PATCH" method="POST">


  <h4>Employment History</h4>
  <div class="employment-history-company-form">
      <p>Company 1</p>
      <input type="text" name="emplployment_history[0].company" placeholder="Company Name">
      <input type="text" name="emplployment_history[0].position" placeholder="Position">
      <input type="text" name="emplployment_history[0].year_start" placeholder="Year you started">
      <input type="text" name="emplployment_history[0].year_end" placeholder="Year you left">
      <div class="employment-history-company-reference-form">
          <p>Reference</p>
          <input type="text" name="emplployment_history[0].reference.fname" placeholder="First Name">
          <input type="text" name="emplployment_history[0].reference.lname" placeholder="Last Name">
          <input type="text" name="emplployment_history[0].reference.email" placeholder="Eamil">
          <input type="text" name="emplployment_history[0].reference.phone" placeholder="Phone">
      </div>

  </div>
  <div class="employment-history-company-form">
      <p>Company 2</p>
      <input type="text" name="emplployment_history[1].company" placeholder="Company Name">
      <input type="text" name="emplployment_history[1].position" placeholder="Position">
      <input type="text" name="emplployment_history[1].year_start" placeholder="Year you started">
      <input type="text" name="emplployment_history[1].year_end" placeholder="Year you left">
      <div class="employment-history-company-reference-form">
          <p>Reference</p>
          <input type="text" name="emplployment_history[1].reference.fname" placeholder="First Name">
          <input type="text" name="emplployment_history[1].reference.lname" placeholder="Last Name">
          <input type="text" name="emplployment_history[1].reference.email" placeholder="Eamil">
          <input type="text" name="emplployment_history[1].reference.phone" placeholder="Phone">
      </div>

  </div>
  <div class="employment-history-company-form">
      <p>Company 3</p>
      <input type="text" name="emplployment_history[2].company" placeholder="Company Name">
      <input type="text" name="emplployment_history[2].position" placeholder="Position">
      <input type="text" name="emplployment_history[2].year_start" placeholder="Year you started">
      <input type="text" name="emplployment_history[2].year_end" placeholder="Year you left">
      <div class="employment-history-company-reference-form">
          <p>Reference</p>
          <input type="text" name="emplployment_history[2].reference.fname" placeholder="First Name">
          <input type="text" name="emplployment_history[2].reference.lname" placeholder="Last Name">
          <input type="text" name="emplployment_history[2].reference.email" placeholder="Eamil">
          <input type="text" name="emplployment_history[2].reference.phone" placeholder="Phone">
      </div>

  </div>
  </div>
  <div class="resume-form-group">

      <h4>Volunteer Work</h4>
      <input type="text" name="volunteer_work" placeholder="Name of Nonprofit">
      <input type="text" name="volunteer_work" placeholder="Name of Nonprofit">
      <input type="text" name="volunteer_work" placeholder="Name of Nonprofit">
  </div>


  <div class="resume-form-group">

      <div class="s-m-outlet">
          <h4>Special Skills</h4>
          <input type="text" name="special_skills" placeholder="Add a Skill">
          <input type="text" name="special_skills" placeholder="Add a Skill">
          <input type="text" name="special_skills" placeholder="Add a Skill">
          <input type="text" name="special_skills" placeholder="Add a Skill">
      </div>
  </div>

  <div class="resume-form-group">
  <h4>Hobbies & Interests   <small>Optional</small></h4>
  <input type="text" name="hobbies_interests" placeholder="Hobby or Interest">
  <input type="text" name="hobbies_interests" placeholder="Hobby or Interest">
  <input type="text" name="hobbies_interests" placeholder="Hobby or Interest">
  </div>
</form>
</div>