<div class="resume-form">
<form action="/users/add-to-resume/education?_method=PATCH" method="POST">
<div class="resume-form-group">
    <h4>Education</h4>
    <div class="employment-history-company-form">
        <p>College/University 1</p>
        <input type="text" name="education[0].school" placeholder="School Name">
        <input type="text" name="education[0].graduation" placeholder="Year Graduated">
        <input type="text" name="education[0].major" placeholder="Major">
        <input type="text" name="education[0].gpa" placeholder="GPA">
    </div>
    <div class="employment-history-company-form">
        <p>College/University 2</p>
        <input type="text" name="education[1].school" placeholder="School Name">
        <input type="text" name="education[1].graduation" placeholder="Year Graduated">
        <input type="text" name="education[1].major" placeholder="Major">
        <input type="text" name="education[1].gpa" placeholder="GPA">
    </div>
    <div class="employment-history-company-form">
        <p>College/University 3</p>
        <input type="text" name="education[2].school" placeholder="School Name">
        <input type="text" name="education[2].graduation" placeholder="Year Graduated">
        <input type="text" name="education[2].major" placeholder="Major">
        <input type="text" name="education[2].gpa" placeholder="GPA">
    </div>
    </div>
    <div class="resume-form-group">
  



</form>

</div>