<h1><%= currentPageTitle %></h1>

<div class="nav-bar-outer">
  <div class="nav-bar nav-bar-ws">
      <div class="row">
          <div class="col-12">
              <a href="/news/election">2020 U.S. Election</a>
              <a href="/news/local">Local</a>
              <a href="/news/national">National</a>
              <a href="/news/international">International</a>
              <a href="/news/business">Business</a>
              <a href="/news/health">Health</a>
              <a href="/news/technology">Technology</a>
              <a href="/news/politics">Politics</a>
              <a href="/news/events">Events</a>
          </div>
      </div>
  </div>
</div>
