<style>
    .image {
        width: 100vw;
        max-width: 100vw;
        max-height: 100vh;
        position: absolute;
        left: 0;
}
    .image img {
        width: 100%;
        height: 100%;
    }
</style>

<div class="image">
    <img src="<%= photo.src.original %>" alt="">
</div>