<style>
    .page-title h1 {
        text-align: center;
        padding: 20px;
    }
    .image-container {
        position: absolute;
        top: 300px;
        left: 0;
        overflow-y: scroll;
        width: 100vw;
        
    }
    .image-container h5 {
        text-align: center;
        padding: 10px;
    }
    .image {
        position: relative;
        width: 100vw;
        left: 0;
        height: auto;
    }
    .image img {
        z-index: 1;
        width: 100%;
    }
    .image-location {
        top: 20px;
        left: 0;
        position: absolute;
        z-index: 2;
        text-align: left;
        padding: 10px;
        color: #fff;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    }
    .image-location a {
        color: #fff;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    }
    .search-engines {
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 5px;
    border-top: groove 2px lightskyblue;
    border-bottom: groove 2px lightskyblue;
    margin-bottom: 15px;
}
.search-engines a {
    color: lightskyblue;
}
.search-engines p {
    color: lightskyblue;
    margin-bottom: 0;
}
</style>

<div class="page-title">
    <h3>PhotoSpread</h3>
</div>
<div class="search-engines">
    <p><a href="/socialspread/photospread/pexels">Pexels</a></p>
</div>
<div class="search-engines">
    <p><a href="/socialspread/photospread/pixabay">Pixabay</a></p>
</div>
<div class="image-container">
    <h5>Recent Images</h5>
    <% returnedData.forEach(function(data) { %>
        <div class="image">
            <img src="<%= data.urls.small %>" alt="">
            <div class="image-location">
                <h5><%= data.user.name %></h5>
                <% if (data.user.instagram_username) { %>
                    <p><a href="https://instagram.com/<%= data.user.instagram_username %>"><i class="fab fa-instagram"></i> <%= data.user.instagram_username %></a></p>
                <% } else { %>
                    <span></span>
                <% } %>
            </div>
        </div>
            <% }) %>
</div>