<style>
    .video-feature {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        max-width: 100vw;
        background: lime;
        height: 100vh;
        
    }
    .video-feature iframe {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
        background: lime;
    }
</style>
<div class="video-feature">
    <iframe src="https://www.2embed.ru/embed/tmdb/movie?id=629017" frameborder="0" allowfullscreen="true"></iframe>
    <p><a href="/entertainment/movies/run-hide-fight">Watch in Fullscreen</a></p>
        
    </div>