<h1><%= currentPageTitle %></h1>

<div class="nav-bar-outer">
  <div class="nav-bar nav-bar-ws">
      <div class="row">
          <div class="col-12">
              <a href="/shopping/clothing/reebok">Reebok</a>
              <a href="/shopping/clothing/under-armour">Under Armour</a>
              <a href="/shopping/clothing/nike">Nike</a>
              <a href="/shopping/clothing/nordstrom">Nordstrom</a>
          </div>
      </div>
  </div>
</div>



