<h1><%= currentPageTitle %></h1>

<div class="nav-bar-outer">
  <div class="nav-bar nav-bar-ws">
      <div class="row">
          <div class="col-12">
              <a href="/shopping/outdoors-camping/firearms/shotguns">Shotguns</a>
          </div>
      </div>
  </div>
</div>



