<h1><%= currentPageTitle %></h1>

<div class="nav-bar-outer">
  <div class="nav-bar nav-bar-ws">
      <div class="row">
          <div class="col-12">
              <a href="/shopping/clothing">Clothing</a>
              <a href="/shopping/electronics">Electronics</a>
              <a href="/shopping/auto">Auto</a>
              <a href="/shopping/real-estate">Real Estate</a>
              <a href="/shopping/grocery">Grocery</a>
              <a href="/shopping/health">Health</a>
              <a href="/shopping/vacation">Vacation</a>
              <a href="/shopping/tools-hardware">Tools & Hardware</a>
              <a href="/shopping/outdoors-camping">Outdoors & Camping</a>
              <a href="/shopping/leisure">Leisure</a>
          </div>
      </div>
  </div>
</div>



