<style>
        @media screen and (max-width: 500px) {
        .page-title h1 {
            text-align: center;
        }
        .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 20px;
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: rgba(255, 255, 255, 0.76);
            text-align: center;
            font-size: 0.6rem;
            color: lightskyblue;
        }
        .main-header-page-menu-inner a {
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
            text-align: center;
            background: rgba(255, 255, 255, 0.3);
        }
        #mainHeaderPageMenu {
            background: rgba(0, 0, 0, 0.3);
            width: 100%;
            position: relative;
            border-left: 1px groove lightskyblue;
            border-right: 1px groove lightskyblue;
            border-radius: 8px;
        }

        .main-header-page-menu-inner {
            display: inline-flex;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            padding: 10px;
            width: 100%;
        }
        .main-header-page-menu-inner a {
            position: relative;
            padding: 10px;
            width: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            text-align: center;
            border-radius: 8px;
            color: #fff;
        }

        .spread-break hr {
    background: lightskyblue;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.534);
    width: 80%;
    margin-left: 10%;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
    }
    .shopping-container {
        width: 100%;
    }
    .shopping-container h5 {
        text-align: center;
        padding: 20px;
    }
}
</style>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
    <h1><%= currentPageTitle %></h1>
</div>
<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenu">
        <div class="main-header-page-menu-inner">
            <a href="/shopping/clothing">Clothing</a>
            <a href="/shopping/electronics">Electronics</a>
            <a href="/shopping/auto">Auto</a>
            <a href="/shopping/real-estate">Real Estate</a>
          <a href="/shopping/grocery">Grocery</a>
          <a href="/shopping/health">Health</a>
          <a href="/shopping/vacation">Vacation</a>
          <a href="/shopping/tools-hardware">Tools & Hardware</a>
          <a href="/shopping/outdoors-camping">Outdoors & Camping</a>
          <a href="/shopping/leisure">Leisure</a>

        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>


<form method="POST" action="https://www.ccnow.com/cgi-local/transact.cgi">
    <input type="text" name="x_login" value="amylove" placeholder="x_login">
    <input type="text" name="x_version" value="1.0" placeholder="x_version">
    <input type="text" name="x_fp_arg_list" 
      value="x_login^x_fp_arg_list^x_fp_sequence^x_amount^x_currency_code">
    <input type="text" name="x_fp_sequence" value="1111084438" placeholder="x_fp_sequence">
    <input type="text" name="x_currency_code" value="USD" placeholder="x_currency_code">
    <input type="text" name="x_method" value="NONE" placeholder="x_method">
    <input type="text" name="x_name" value="John Smith" placeholder="x_name">
    <input type="text" name="x_address" value="123 Main St" placeholder="x_address">
    <input type="text" name="x_address2" value="Apt #1" placeholder="x_address2">
    <input type="text" name="x_city" value="Los Angeles" placeholder="x_city">
    <input type="text" name="x_state" value="CA" placeholder="x_state">
    <input type="text" name="x_zip" value="90025" placeholder="x_zip">
    <input type="text" name="x_country" value="US" placeholder="x_country">
    <input type="text" name="x_phone" value="310-123-1234" placeholder="x_phone">
    <input type="text" name="x_email" value="jsmith@somewhere.com" placeholder="x_email">
    <input type="text" name="x_ship_to_name" value="" placeholder="x_ship_to_name">
    <input type="text" name="x_ship_to_address" value="" placeholder="x_ship_to_address">
    <input type="text" name="x_ship_to_address2" value="" placeholder="x_ship_to_address2">
    <input type="text" name="x_ship_to_city" value="" placeholder="x_ship_to_city">
    <input type="text" name="x_ship_to_state" value="" placeholder="x_ship_to_state">
    <input type="text" name="x_ship_to_zip" value="" placeholder="x_ship_to_zip">
    <input type="text" name="x_ship_to_country" value="" placeholder="x_ship_to_country">
    <input type="text" name="x_ship_to_phone" value="" placeholder="x_ship_to_phone">
    <input type="text" name="x_shipping_amount" value="10.00" placeholder="x_shipping_amount">
    <input type="text" name="x_shipping_label" value="Shipping and Handling" placeholder="x_shipping_label">
    <input type="text" name="x_shipping_method" value="Ground" placeholder="x_shipping_method">
    <input type="text" name="x_discount_amount" value="" placeholder="x_discount_amount">
    <input type="text" name="x_discount_label" value="" placeholder="x_discount_label">
    <input type="text" name="x_invoice_num" value="AL-1111084432" placeholder="x_invoice_num">
    <input type="text" name="x_instructions" value="" placeholder="x_instructions">
    <input type="text" name="x_product_sku_1" value="CS-7112" placeholder="x_product_sku_1">
    <input type="text" name="x_product_title_1" value="Beachy White T-Shirt" placeholder="x_product_title_1">
    <input type="text" name="x_product_quantity_1" value="1" placeholder="x_product_quantity_1">
    <input type="text" name="x_product_unitprice_1" value="13.50" placeholder="x_product_unitprice_1">
    <input type="text" name="x_product_url_1" value="www.ccnow.com" placeholder="x_product_url_1">
    <input type="text" name="x_product_sku_2" value="BH-1130" placeholder="x_product_sku_2">
    <input type="text" name="x_product_title_2" value="My Kind of Cap" placeholder="x_product_title_2">
    <input type="text" name="x_product_quantity_2" value="2" placeholder="x_product_quantity_2">
    <input type="text" name="x_product_unitprice_2" value="16.00" placeholder="x_product_unitprice_2">
    <input type="text" name="x_product_url_2" value="www.ccnow.com" placeholder="x_product_url_2">
    <input type="text" name="x_amount" value="55.50" placeholder="x_amount">
    <input type="text" name="x_fp_hash" 
       value="e44b8aeb153f23d3806fdab6221885e8" placeholder="x_fp_hash">
    <input type="submit" value=" Place Order ">
    </form>

<div class="shopping-container">
    <h5>Your Wishlist</h5>
</div>

<div class="shopping-icons" style="color: lightskyblue; font-size: 1.5rem; max-width: 90vw; width: 90vw;">
    <h5>Shopping Icons for Development</h5>
    <p>Shopping</p>
    <i class="fas fa-store-alt"></i>
    <i class="fas fa-shopping-cart"></i>
    <i class="fas fa-cart-plus"></i>
    <i class="fas fa-tag"></i>
    <i class="fas fa-tags"></i>
    <p>Wallet </p>
    <i class="fas fa-wallet"></i>
    <i class="fab fa-cc-visa"></i>
    <i class="fab fa-cc-stripe"></i>
    <i class="fab fa-cc-paypal"></i>
    <i class="fab fa-paypal"></i>
    <i class="fab fa-cc-mastercard"></i>
    <i class="fab fa-cc-discover"></i>
    <i class="fab fa-cc-apple-pay"></i>
    <i class="fab fa-cc-amex"></i>
    <i class="fab fa-bitcoin"></i>
    <i class="fab fa-btc"></i>
    <i class="fab fa-ethereum"></i>
    <p>Delivery</p>
    <i class="fab fa-fedex"></i>
    <i class="fab fa-ups"></i>
    <i class="fas fa-truck-moving"></i>
    <i class="fas fa-shipping-fast"></i>
    <p>Settings</p>
    <i class="fas fa-cogs"></i>
    <i class="fas fa-sliders-h"></i>
    <i class="fas fa-user-cog"></i>
    <i class="fas fa-ellipsis-v"></i>
    <i class="fas fa-ellipsis-h"></i>
    <i class="fas fa-info"></i>
    <i class="fas fa-info-circle"></i>
    <p>Viewing Items</p>
    <i class="fas fa-expand-arrows-alt"></i>
    <i class="fas fa-compress-arrows-alt"></i>
</div>