<div style="padding: 7px;">
    <div> 
        <div> 
            <div class="med-image"> 
                <a href="/image/<%= file.filename %>">
                    <img src="/image/<%= file.filename %>" width="300px" height="300px"> 
                </a>
                
            </div> 
        </div> 
    </div> 
    
</div>