<style>
    .spread-links p {
        text-align: center;
        padding: 10px;
        width: 100%;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.3);
    }
    .spread-links a {
        color: lightskyblue;
    }
</style>
<div class="page-title">
    <h1><%= currentPageTitle %></h1>
</div>

<div class="spread-links">
    <p><a href="/socialspread/photospread">PhotoSpread</a></p>
    <p><a href="/socialspread/giphyspread">GiphySpread</a></p>
</div>