
<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-10">
                <a href="/dashboard/wall">YourSpread</a>
                <a href="/academy">Academy</a>
                <a href="/business">Business</a>
                <a href="/news">News</a>
                <a href="/shopping">Shopping</a>
                <a href="/wellness">Wellness</a>
            </div>
            <div class="col-2">
                <a href="/users/logout" class="logout-button" style="padding-left: 10px; padding-right: 10px; text-shadow: 0 0 4px red; color: rgba(255, 255, 255, 0.712);">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="update-profile col-12">
    
    
    
    <form action="/users/update-resume?_method=PATCH" method="POST">
    
        <h3>Your Bio</h3>
        <textarea name="bio" id="bio" cols="50" rows="10"><%= currentUser.bio %></textarea>
        
        <div class="s-m-container">
    
        <h3>Education</h3>
        
        <div class="s-m-outlet">
            <p>High School</p>
            <input type="text" name="education" value="<%= currentUser.education %>">
        </div>
        
        <div class="s-m-outlet">
            <p>University</p>
            <input type="text" name="education" value="<%= currentUser.education %>">
        </div>
        
        <div class="s-m-outlet">
            <p>Certification</p>
            <input type="text" name="education" value="<%= currentUser.education %>">
        </div>
    
        </div>
    
        <div class="s-m-container">
            <h3>Special Skills</h3>
            <input type="text" name="special_skills" id="special_skills">
        </div>
        <div class="s-m-container">
            <div class="s-m-outlet">
                <h3>Checklist</h3>
                <p>Are you a U.S. Veteran?</p>
                <input type="checkbox" name="us_veteran" id="us_veteran">
                <p>Do you have Security Clearance?</p>
                <input type="checkbox" name="security_clearance" id="security_clearance">
                <p>Are you willing to travel?</p>
                <input type="checkbox" name="willing_to_travel" id="willing_to_travel">
            </div>
        </div>
    
            <input type="submit" value="Update Resume" style="margin-top: 40px; display: block; width: 100%;">
        </form>
    </div>
    </div>