<style>
    .search {
        border-radius: 15px;
        background:rgba(255, 255, 255, 0.300);
    }
    .search input {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 5%;
        padding: 5px;
        border-radius: 8px;
        outline: none;
        border: none;
    }
    .search input:active {
        outline: none;
        border: none;

    }
    .search button {
        width: 90%;
        margin-left: 5%;
        background: green;
        border: groove 2px green;
        border-bottom: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: #fff;
    }

.photo-slider {
    width: 100vw;
    position: absolute;
    top: 250px;
    left: 0;
    overflow-y: scroll;
}
.photo {
    width: 100%;
}
.photo img {
    width: 100%;
}
</style>

<div class="search">
<form action="/socialspread/videospread/pexels/search" method="post">
    <input type="text" name="search" placeholder="Search for videos...">
    <button type="submit">Search</button>
</form>
</div>

<% if (photos) { %>
<div class="photo-slider">

<% videos.videos.forEach(function(video) { %>
    <a href="/socialspread/videospread/pexels/single/<%= video.id %>">
        <div class="photo">
        </div>
    </a>
<% }) %>
</div>
<a href="https://www.pexels.com">
    <img src="https://images.pexels.com/lib/api/pexels.png" />
  </a>
<% } else { %>
<span><a href="https://www.pexels.com">
    <img src="https://images.pexels.com/lib/api/pexels.png" />
  </a></span>
<% } %>
