<style>
  @media screen and (min-width: 1200px) {
    .widespread-header {
      text-align: center;
      padding: 0;
    }
    .logo {
      margin: 0;
      width: 95%;
    }
    .logo h1 {
      margin: 0;
    }
    .create-account {
      width: 80%;
      margin-left: 10%
    }
    .create-account img {
      width: 300px;
      height: 300px;
    }
    .create-account p {
      color: #fff;
    }
    .create-account-btns {
      background: transparent;
      width: 80%;
      margin-left: 10%;

    }
    .create-account-btns a {
      border-radius: 8px;
      border-top: groove 2px lightskyblue;
      border-bottom: groove 2px lightskyblue;
      background: rgba(255, 255, 255, 0.3);
      transition: ease-in 0.5s;
    }
    .create-account-btns a:hover {
      border-radius: 8px;
      border-top: groove 2px lightskyblue;
      border-bottom: groove 2px lightskyblue;
      background: rgba(255, 255, 255, 0.5);
      transition: ease-in 0.3s;
    }
  }
  @media screen and (max-width: 1199px) {
    .widespread-header {
      text-align: center;
      padding: 0;
    }
    .logo-container {
      position: fixed;
      z-index: -1;
      width: 100vw;
      height: 100vw;
      bottom: 100px;
      left: 0;
    }
    .logo-container img {
      width: 100%;
      height: 100%;
    }
    .logo {
      margin: 0;
    }
    .logo h1 {
      margin: 0;
    }
    .video-background {
      background: #000;
    }
    .video-background video {
      min-height: 100vh;
      width: auto;
    }
    .create-account {
      width: 90%;
      margin-left: 5%;
      margin-top: 60px;
      padding-top: 0;
      border-top: groove 2px lightskyblue;
      border-bottom: groove 2px lightskyblue;
      border-radius: 8px;
      box-shadow: none;
      backdrop-filter: blur(2px);
      background: rgba(0, 0, 0, 0.3);
    }
    .create-account img {
      width: 300px;
      height: 300px;
    }
    .create-account p {
      color: #fff;
      border-top: none;
      background: rgba(255, 255, 255, 0.3);
      box-shadow: none;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      width: 100%;
      border-bottom: groove 2px lightskyblue;
    }
    .create-account-btns {
      background: transparent;
      width: 80%;
      margin-left: 10%;

    }
    .create-account-btns a {
      border-radius: 8px;
      border-top: groove 2px lightskyblue;
      border-bottom: groove 2px lightskyblue;
      background: rgba(255, 255, 255, 0.3);
      transition: ease-in 0.5s;
      padding: 10px;
      display: block;
      margin-top: 10px;
      color: #fff;
    }
    .spreadshield-demos {
            width: 95%;
            margin-top: 15px;
            margin-left: 2.5%;
            text-align: center;
        }
        .spreadshield-demos video {
            border-radius: 8px;
            width: 100%;
            height: auto;
        }
  }
</style>
<div class="inner-container">

    <div class="video-background">
        <video autoplay muted loop id="vidBackground">
            <source src="videos/space-particles_1a1a1a.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <!-- Space Particles - Video by <a href="https://pixabay.com/users/tommyvideo-3092371/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5200">Tomislav Jakupec</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5200">Pixabay</a> -->
            <!-- Earth Particles - Video by <a href="https://pixabay.com/users/llensgraf-2065862/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=17235">Leif Lensgraf</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=17235">Pixabay</a> -->
</div>
<div class="logo-container">
  <img width="160px" height="160px" src="/images/system/widespread_logo_1d.png" alt="WideSpread Logo">
</div>
<div class="row mt-5">
    <div class="create-account">
        <div class="text-center">
            <p>Create an account or login</p>
            <div class="create-account-btns">
                <a href="/users/login">Login</a>
                <a href="/users/register">Register</a>
            </div>
        </div>
    </div>
</div>

<div class="spreadshield-demos">
  <video src="https://scontent-mia3-2.cdninstagram.com/v/t50.2886-16/10000000_875779629658749_7440147872372310342_n.mp4?_nc_ht=scontent-mia3-2.cdninstagram.com&_nc_cat=109&_nc_ohc=uWFXYTnUKXsAX-3ZpNb&oe=60489C2B&oh=2c9c505df035402abfe62575bfad50ae" autoplay controls></video>
</div>


</div>



<script>
    function openModal() {
      document.getElementById("myModal").style.display = "block";
    }
    
    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }
    
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>