<style>
  @media screen and (min-width: 1200px) {
    .widespread-header {
      text-align: center;
      padding: 0;
    }
    .logo {
      margin: 0;
      width: 95%;
    }
    .logo h1 {
      margin: 0;
    }
    .create-account {
      width: 80%;
      margin-left: 10%
    }
    .create-account img {
      width: 300px;
      height: 300px;
    }
    .create-account p {
      color: #fff;
    }
    .create-account-btns {
      background: transparent;
      width: 80%;
      margin-left: 10%;

    }
    .create-account-btns a {
      border-radius: 8px;
      border-top: groove 2px lightskyblue;
      border-bottom: groove 2px lightskyblue;
      background: rgba(255, 255, 255, 0.3);
      transition: ease-in 0.5s;
    }
    .create-account-btns a:hover {
      border-radius: 8px;
      border-top: groove 2px lightskyblue;
      border-bottom: groove 2px lightskyblue;
      background: rgba(255, 255, 255, 0.5);
      transition: ease-in 0.3s;
    }
  }
</style>
<div class="inner-container">

    <div class="video-background">
        <video autoplay muted loop id="vidBackground">
            <source src="videos/space-particles_1a1a1a.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <!-- Space Particles - Video by <a href="https://pixabay.com/users/tommyvideo-3092371/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5200">Tomislav Jakupec</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5200">Pixabay</a> -->
            <!-- Earth Particles - Video by <a href="https://pixabay.com/users/llensgraf-2065862/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=17235">Leif Lensgraf</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=17235">Pixabay</a> -->
</div>
<div class="row mt-5">
    <div class="create-account">
        <div class="text-center">
            <img width="160px" height="160px" src="/images/system/widespread_logo_1d.png" alt="WideSpread Logo">
            <p>Create an account or login</p>
            <div class="create-account-btns">
                <a href="/users/login" class="btn btn-secondary btn-block mb-2 blur" style="color: #fff;">Login</a>
                <a href="/users/register" class="btn btn-primary btn-block mb-2 blur">Register</a>
            </div>
        </div>
    </div>
</div>

</div>



<script>
    function openModal() {
      document.getElementById("myModal").style.display = "block";
    }
    
    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }
    
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>