<div class="video-background">
    <video autoplay muted loop id="vidBackground">
        <source src="videos/space-particles_1a1a1a.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    <!-- Space Particles - Video by <a href="https://pixabay.com/users/tommyvideo-3092371/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5200">Tomislav Jakupec</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5200">Pixabay</a> -->
    <!-- Earth Particles - Video by <a href="https://pixabay.com/users/llensgraf-2065862/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=17235">Leif Lensgraf</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=17235">Pixabay</a> -->
</div>
<div class="row mt-5">
    <div class="create-account m-auto">
        <div class="text-center">
            <img width="160px" height="160px" src="/images/system/widespread_logo_1d.png" alt="WideSpread Logo">
            <p>Create an account or login</p>
            <div class="nav-bar nav-bar-ws">
                <a href="/users/register" class="btn btn-primary btn-block mb-2 blur" style="box-shadow: inset 0 0 4px greenyellow;">Register</a>
                <a href="/users/login" class="btn btn-secondary btn-block mb-2 blur" style="box-shadow: inset 0 0 4px lightskyblue;">Login</a>
            </div>
        </div>
    </div>
</div>