<style>
    @media screen and (max-width: 500px) {
    .page-title h1 {
        text-align: center;
    }
    .main-header-page-menu-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
    }
    .main-header-page-menu-container p {
        margin: 0 auto;
        color: rgba(255, 255, 255, 0.76);
        text-align: center;
        font-size: 0.6rem;
        color: lightskyblue;
    }
    .main-header-page-menu-inner a {
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        text-align: center;
        background: rgba(255, 255, 255, 0.3);
    }
    #mainHeaderPageMenu {
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        position: relative;
        border-left: 1px groove lightskyblue;
        border-right: 1px groove lightskyblue;
        border-radius: 8px;
    }

    .main-header-page-menu-inner {
        display: inline-flex;
        max-width: 100%;
        min-width: 100%;
        overflow-x: scroll;
        padding: 10px;
        width: 100%;
    }
    .main-header-page-menu-inner a {
        position: relative;
        padding: 10px;
        width: 150px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 8px;
        color: #fff;
    }

    .spread-break hr {
background: lightskyblue;
box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.534);
width: 80%;
margin-left: 10%;
border-radius: 50%;
margin-top: 40px;
margin-bottom: 30px;
}

.back-home {
    padding: 10px;
}
.back-home h5 {
    text-align: center;
}
.shopping-container {
    width: 100%;
}
.shopping-container h5 {
    text-align: center;
    padding: 20px;
}
.food {
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 5px;
    border-top: groove 2px lightskyblue;
    border-bottom: groove 2px lightskyblue;
}
.food a {
    color: lightskyblue;
}
.food p {
    color: lightskyblue;
    margin-bottom: 0;
}
}
</style>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
<h1><%= currentPageTitle %></h1>
</div>

<div class="back-home">
    <a href="/wellness"><h5>Go Back to Wellness Home</h5></a>
</div>

<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenu">
        <div class="main-header-page-menu-inner">
        <a href="/wellness/your-plans">Your Plans</a>
        <a href="/wellness/workout">Workout</a>
        <a href="/wellness/yoga">Yoga</a>
        <a href="/wellness/nutrition">Nutrition</a>
    </div>
</div>
<p>Scroll left & right for more options</p>
</div>


<form action="/wellness/nutrition/search" method="post">
    <input type="text" name="search" placeholder="Search for foods...">
    <button type="submit">Search</button>
</form>
