body {
    background: #111;


}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 15px;
    border-radius: 7px;
    box-shadow: -3px -3px 6px #222, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000, inset 0 0 10px #111, inset 4px 4px 8px #000, inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 4px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
    background: #ccc;
}
::-webkit-scrollbar:hover {
    background: #333;
}
    /* Track */

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 4px 4px 8px rgba(135, 206, 250, 0.582), inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 4px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(17, 17, 17, 0.705); 
    border-radius: 7px;
    box-shadow: -3px -3px 6px #222, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000, inset 0 0 10px #111, inset 4px 4px 8px #000, inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 4px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
    transition: ease-in 0.4s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(135, 206, 250, 0.658); 
    border-radius: 7px;
    box-shadow: -3px -3px 6px #222, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000, inset 0 0 10px #ccc, inset 4px 4px 8px #000, inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 4px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
    transition: ease-in 0.4s;
  }
.container {
    padding-top: 105px;
    padding-bottom: 40px;
}
h1,h2,h3,h4,h5,h6 {
    color: #ccc;
}
.spread-h5 {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;
}
.widespread-header {
    background-image: linear-gradient( black, rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.685));
    position: fixed;
    z-index: 10000;
    top: -10px;
    left: 20px;
    right: 20px;
    height: 85px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: inset 0 0 20px rgba(135, 206, 250, 0.521),  0 0 20px rgba(135, 206, 250, 0.521), 0 0 40px rgba(135, 206, 250, 0.329);
}
.widespread-header .logo {
    position: absolute;
    left: 10px;
    top: 25px;
}
.widespread-header .logo h1 a {
    color: #222;
    text-decoration: none;
    margin-left: 10px;
    transition: ease-in 0.8s;
}
.widespread-header h1 a:hover {
    text-decoration: none;
    text-shadow: 0 0 1px lightskyblue, 0 0 3px rgba(135, 206, 250, 0.685), 0 0 8px rgba(135, 206, 250, 0.301);
    transition: ease-in 0.3s;
}
.login-ws-logo {
    text-align: center;
    margin-bottom: 30px;
}
.login-background {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: 20px;
}
.login-background-image {
    position: absolute;
    width: 100%;
    height: 400px;
    background-image: url('../images/system/widespread_logo_1d.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.3;
    filter: drop-shadow(0 0 10px rgba(135, 206, 250, 0.664));
}
.login-background-image img {
    max-width: 100%;
    max-height: 100%;
}
.card-body h1 {
    font-size: 22px;
}
.login-ws-logo img {
    border-radius: 50%;
    max-width: 200px;
    box-shadow: -3px -3px 6px #222, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000, inset 0 0 10px rgba(17, 17, 17, 0.61), inset 4px 4px 8px rgba(0, 0, 0, 0.521), inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 4px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
}
.login-input {
    border: solid 0.5px #000;
    border-radius: 10px;
    box-shadow: -3px -3px 6px #222, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000, inset 0 0 10px rgba(17, 17, 17, 0.61), inset 4px 4px 8px rgba(0, 0, 0, 0.521), inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 4px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
}
.login-button {
    box-shadow: -3px -3px 6px #222, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000, inset 0 0 10px rgba(17, 17, 17, 0.61), inset 4px 4px 8px rgba(0, 0, 0, 0.521), inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 4px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
    border-radius: 10px;
    transition: ease-in 0.3s;
}
.login-button:hover {
    box-shadow: -3px -3px 6px #000, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000, inset 0 0 10px rgba(17, 17, 17, 0.61), inset 4px 4px 8px rgba(0, 0, 0, 0.521), inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 4px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
    color: lightskyblue;
    text-shadow: 0 0 3px lightskyblue;
    transition: ease-in 0.3s;
}
.widespread-header .current-page-title {
    text-align: center;
    text-shadow: 0 0 1px black;
    height: 85px;
}
.widespread-header .current-page-title h2 a {
    text-decoration: none;
    line-height: 85px;
    color: rgba(135, 206, 250, 0.623);
    transition: ease-in 0.3s;
}
.widespread-header .current-page-title h2 a:hover {
    text-decoration: none;
    line-height: 75px;
    color: rgba(135, 206, 250, 0.829);
    transition: ease-in 0.3s;
    text-shadow: 0 0 4px rgba(135, 206, 250, 0.781);

}
.widespread-header .user-info {
    width: 225px;
    position: absolute;
    right: 20px;
    top: 30px;
    height: 40px;
}
.widespread-header .user-info .current-user p {
    line-height: 30px;
    max-width: 200px;
}
.widespread-header .user-info .user-menu {
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.nav-bar-outer {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #111;
    transition: ease-in 0.6s;
    
}
.nav-bar-outer:hover {
    background: #000;
    transition: ease-in 0.6s;
}
.nav-bar {
    margin-top: 20px;
    padding: 5px;
}
.nav-bar-ws {
    padding: 20px;
    margin-top: 0;
    border-radius: 10px;
    box-shadow: -3px -3px 6px #222, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000, inset 0 0 10px #111, inset 4px 4px 8px #000, inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 4px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
    transition: ease-in 0.4s;
}
.nav-bar-ws:hover {
    transition: ease-in 0.4s;
}
.red {
    box-shadow: inset 0 0 10px red;
}
.lightskyblue {
    box-shadow: inset 0 0 10px lightskyblue;
}
.blue-glow {
    box-shadow: 0 0 2px rgb(60, 165, 231);
}
.nav-bar a {
    margin-left: 10px;
    background: transparent;
    padding: 5px;
    color: #ccc;
    text-decoration: none;
    transition: ease-in 0.9s;
    border-radius: 5px;
}

.nav-bar a:hover {
    box-shadow: 0 0 1px lightskyblue, 0 0 3px rgba(135, 206, 250, 0.685), 0 0 8px rgba(135, 206, 250, 0.301);
    text-decoration: none;
    color: lightskyblue;
    text-shadow: 0 0 3px rgba(135, 206, 250, 0.356);
    transition: ease-in 0.6s;
}
.nav-bar-ws .logout-button:hover {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.562), 0 0 1px red;
}
.nav-bar-ws form {
    background: transparent;
}

.custom-file input {
    outline: none;
    border: none;
    background: transparent;
    margin: 5px;
    border-radius: 10px;
}

.custom-file-label {
    border-radius: 10px;
    padding: 10px;
    background: #000;
    box-shadow: inset 3px 3px 3px rgb(0, 0, 0), inset -3px -3px 2px rgb(46, 46, 46);
    transition: ease-in 0.4s;
}
.custom-file-label:hover {
    background: #111;
    transition: ease-in 0.4s;
}
.custom-file-label::after {
    background: rgb(63, 207, 63);
    box-shadow: 3px 3px 3px rgb(3, 46, 3), 0 -3px 3px rgb(16, 230, 16);
    margin-left: -5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.add-form {
    margin: 20px;
    padding: 20px;
    margin-top: 40px;
}
.add-form input {
    display: block;
    padding: 8px;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
}
.add-form button {
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    display: block;
    background: rgb(20, 221, 20);
}
.fa-ellipsis-v {
    cursor: pointer;
    text-shadow: 0 0 1px lightskyblue;
    color: rgba(255, 255, 255, 0.753);
}


.spreadlink {
    color: #fff;
    text-decoration: none;
    transition: ease-in 0.2s;
}
.spreadlink:hover {
    color: rgba(255, 255, 255, 0.719);
    text-decoration: none;
    text-shadow: 0 0 2px lightskyblue;
    transition: ease-in 0.2s;
}

.resume-nav {
    border-left: solid 2px #333;
}
.jumbotron {
    background: #111;
    padding-bottom: 20px;
}

.user-avatar {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    box-shadow: -3px -3px 6px #222, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000, inset 0 0 10px #111;
    padding: 10px;
}
.user-avatar img {
    min-width: 160px;
    min-height: 160px;
    margin: -10px;
    margin-left: -40px;
    opacity: 0.5;
    transition: ease-in 0.4s;
}
.user-avatar img:hover {
    opacity: 1.0;
    transition: ease-in 0.4s;
}

.name-header {
    background: #000;
    padding: 15px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: -4px -4px 8px #222, -3px -3px 6px #111, 6px 6px 8px #111,  3px 3px 6px #000, inset -2px -2px 2px #222, inset 2px 2px 2px #222;
}
.user-header {
    padding: 10px;
    box-shadow: -4px -4px 8px #222, -3px -3px 6px #111, 6px 6px 8px #111,  3px 3px 6px #000, inset -2px -2px 2px #222, inset 2px 2px 2px #222;

}
.info-header {

}
.info-header a {
    text-decoration: none;
    color: #ccc;
    transition: ease-in 0.3s;
}
.info-header a:hover {
    color: lightskyblue;
    transition: ease-in 0.3s;
}
.spread-container {
    padding-bottom: 30px;
}
.spread-container-sub {
    padding-bottom: 30px;

}
.friends {
    padding: 20px;
    border-radius: 10px;
}
.friends li {
    background: #bbb;
    border-radius: 10px;
    transition: ease-in 0.2s;
}
.friends li:hover {
    background: #777;
    box-shadow: 0 2px 5px black;
    transition: ease-in 0.2s;
}

.create-post {
    padding: 20px;
    margin-top: 0;
    border-radius: 10px;
    box-shadow: -3px -3px 6px #222, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000, inset 0 0 10px #111, inset 4px 4px 8px #000, inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 4px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
    padding: 10px;
    padding-bottom: 60px;
    transition: ease-in 0.4s;
}
.create-post input {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #222;
    border: none;
    outline: none;
    box-shadow: inset -3px -3px 6px #333, inset 3px 3px 6px #111, inset 3px 3px 6px #333, inset -3px -3px 6px #111;
}
.create-post input:focus {
    box-shadow: inset -3px -3px 6px #333, inset 3px 3px 6px #111, inset 3px 3px 6px #333, inset -3px -3px 6px #111;
    background: #333;
}
.create-post form {
    padding: 10px;
}
.create-post textarea {
    margin-bottom: 10px;
    min-height: 150px;
    padding: 12px;
    border-radius: 20px;
    box-shadow: inset -3px -3px 6px #333, inset 3px 3px 6px #111, inset 3px 3px 6px #333, inset -3px -3px 6px #111;
    background: #222;
}
.create-post textarea:focus {
    background: #333;
    box-shadow: inset -3px -3px 6px #333, inset 3px 3px 6px #111, inset 3px 3px 6px #333, inset -3px -3px 6px #111;
}
.post h3 {
    color: #000;
}
.post h5 {
    color: #222;
}
.user-posts-container {
    padding: 10px;
    margin-top: 0;
    border-radius: 10px;
    box-shadow: -3px -3px 6px #222, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000, inset 0 0 10px #111, inset 4px 4px 8px #000, inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 4px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
    margin-bottom: 3px;
    transition: ease-in 0.6s;
}

.user-posts-container ul {
    max-height: 70vh;
    overflow-y: scroll;
    margin: 0 auto;
    padding-top: 20px;
    padding-right: 30px;
    border-radius: 20px;
}

.user-posts-container li {
    width: 100%;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #111;
}
.user-posts {
    padding: 20px;
    border-radius: 10px;
}
.user-posts h5 {
    text-align: center;
}
.user-posts li {
    margin-top: 0;
    border-radius: 10px;
    box-shadow: -3px -3px 6px #222, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000;
    padding: 10px;
    padding-bottom: 60px;
    margin-left: -15px;
    transition: ease-in 0.4s;
}
.user-posts li:hover {
    transition: ease-in 0.2s;
}
.outer-post-container {
       padding: 20px;
    margin-top: 0;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #111, inset 4px 4px 8px #000, inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 4px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
    padding: 10px;
}
.outer-post-container a {
    padding: 8px;
    font-size: 26px;
    color: rgba(112, 25, 25, 0.733);
    text-shadow: -1px -1px 2px rgb(78, 30, 30), 1px 1px 2px #000;
    font-weight: bold;
    transition: ease-in 0.2s;
}
.outer-post-container a:hover {
    text-shadow: 0 0 2px red;
    text-decoration: none;
    transition: ease-in 0.2s;
}
.post-container {
    border-top: solid 1px #ccc;
    padding: 5px;
    padding-top: 20px;
    margin: 20px;
    margin-top: 10px;
}
.post-container img {
    width: 30px;
    height: 30px;
}
.post-container small {
    padding-left: 10px;
}
.post {
    padding-top: 20px;
}
.public-post-container {
    padding: 8px;
     margin: 5px;
     border-radius: 10px;
     margin-top: 20px;
     background: #222;
     box-shadow: -3px -3px 6px #333, 3px 3px 6px #111, inset 3px 3px 6px #333, inset -3px -3px 6px #111;
        width: 100%;
    }
    .public-post {
    box-shadow: inset -3px -3px 6px #333, inset 3px 3px 6px #111, inset 3px 3px 6px #333, inset -3px -3px 6px #111;
    border-radius: 10px;
    background: #111;
    padding: 10px;
}
.public-post small {
    margin-left: 10px;
    cursor: default;
}
.public-post p {
    padding: 10px;
    margin-top: 10px;
}
.public-post a {
    color: #ccc;
}
.post-option-bar {
    margin-top: 3px;
    padding: 3px;
}
.full-page-post-container {
    margin-top: 50px;
    margin-bottom: 30px;
    background: #777;
    padding: 20px;
    border-radius: 20px;
}
.full-page-post-container h3 {
    font-size: 3rem;
    color: #aaa;
}
.full-page-post-container small {
    color: #000;
}
.full-page-post-container hr {
    border-color: #000;
    margin-bottom: 30px;
}
.full-page-post-container p {
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}
.list-item a {
    padding-left: 10px;
}
.update {
    margin-bottom: 5px;
}
.update-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.update-profile h3 {
    text-align: center;
    margin-top: 40px;
}
.s-m-outlet {
}
.s-m-outlet p {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.s-m-outlet input[type=color] {
    margin-right: 10px;
}

/* 


                    Academy

*/
.course-selection-container {
    background: #000;
    margin-top: 30px;
    padding: 40px;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: -4px -4px 8px #222, -3px -3px 6px #111, 6px 6px 8px #111,  3px 3px 6px #000, inset -2px -2px 2px #222, inset 2px 2px 2px #222;
}
.course-selection {
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    background: #000;
    box-shadow: -4px -4px 8px #222, -3px -3px 6px #111, 6px 6px 8px #111,  3px 3px 6px #000, inset -2px -2px 2px #222, inset 2px 2px 2px #222;
    transition: ease-in-out 0.5s;
}
.course-selection:hover {
    background: #111;
    box-shadow: inset 4px 4px 8px #000, inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 6px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
    transition: ease-out 0.5s;
}
.course-card {
    max-height: 300px;
    padding: 10px;
}
.class-selection {
    padding-top: 10px;
}
.class-selection h2 {
    text-align: center;
}
.course-classes {
    max-height: 300px;
    overflow-y: scroll;
}



/* 


                    Business

*/

.company-container-card {
    background: #000;
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: -4px -4px 8px #222, -3px -3px 6px #111, 6px 6px 8px #111,  3px 3px 6px #000, inset -2px -2px 2px #222, inset 2px 2px 2px #222;
}

.company-container-card a {
    transition: ease-in 0.3s;
}
.company-container-card a:hover {
    text-decoration: none;
    color: lightskyblue;
    transition: ease-in 0.3s;
}
.company-container-card .company-bio {
    padding: 10px;
    width: 90%;
    margin-left: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -4px -4px 8px #222, -3px -3px 6px #111, 6px 6px 8px #111,  3px 3px 6px #000, inset -2px -2px 2px #222, inset 2px 2px 2px #222;
}
.company-container-card .employee-portal {
    padding: 5px;
    text-align: right;
    padding-right: 20px;
}
.company-contact {
    background: #000;
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
}
.company-contact i {
    margin-right: 10px;
}
.company-contact a {
    color: #555;
}
.company-container-card .employee-portal a {
    color: #ccc;
    transition: ease-in 0.3s;
}
.company-container-card .employee-portal a:hover {
    color: lightskyblue;
    transition: ease-in 0.3s;
}
.business-footer {
    padding: 30px;
    margin-bottom: 40px;
}
.business-footer a {
    width: auto;
    background: #888;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: ease-in 0.6s;
}
.business-footer a:hover {
    background: lightskyblue;
    transition: ease-in 0.3s;
}

.companySite-container {
    background: #111;
    box-shadow: -4px -4px 8px #222, -3px -3px 6px #111, 6px 6px 8px #111,  3px 3px 6px #000, inset -2px -2px 2px #222, inset 2px 2px 2px #222;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
}
.companySite-inner {
    border-top: solid 3px lightskyblue;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}
.companySite-nav {
    margin: 0 auto;
    margin-top: 30px;
    background: #000;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: inset 4px 4px 8px #000, inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 6px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
}
.companyInfo {
    border-left: solid 1px #222;
}
.companyInfo a {
    color: #ccc;
}
.companySite-nav ul {
    display: inline-flex;
}
.companySite-nav li {
    list-style: none;
    height: 100%;
    padding: 10px;
    padding-top: 15px;
    margin-top: 5px;
    text-align: center;
    margin-left: 10px;
    border-radius: 10px;
}
.companySite-nav li:first-of-type {
    margin-left: 0;
}
.companySite-nav li a {
    text-decoration: none;
}


.job-applicants {
    background: #111;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.article-container {
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    background: #111;
    box-shadow: -4px -4px 8px #222, -3px -3px 6px #111, 6px 6px 8px #111,  3px 3px 6px #000, inset -2px -2px 2px #222, inset 2px 2px 2px #222;
}
.article-container .article-header {
    padding: 20px;
}
.article-container .article-header h1 {
    margin-bottom: 40px;
    text-align: center;
}
.article-container .article-header h3 {
    text-align: center;
    color: #888;
}
.article-container p {
    padding: 50px;
    padding-top: 30px;
    background: #000;
    box-shadow: inset 4px 4px 8px #000, inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 6px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
    border-radius: 20px;
}
.article-container hr {
    border-color: lightskyblue;
}

.news-outlet h2 {
    text-align: center;
    margin-top: 30px;
}
.news-articles {
    padding: 20px;
}

.news-articles .row {
    margin-top: 30px;
    padding: 20px;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow: inset 4px 4px 8px #000, inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 6px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
}

.news-articles .row .article-image img {
    border-radius: 20px;
    box-shadow: -3px -3px 6px #222, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000, inset 0 0 10px #111;
    max-width: 350px;
    max-height: 350px;
}

.news-articles .article-info {
    margin-top: 20px;
}


.news-articles .article-info a h5{
    text-decoration: none;
}
.news-articles .article-info a h5{
    transition: ease-in 0.3s;
}
.news-articles .article-info a h5:hover {
    color: lightskyblue;
    transition: ease-in 0.3s;
}

/* 
        SHOPPING
 */

#output {
    width: 500px;
    height: 300px;
    background: lime;
}
.item-image {
    box-shadow: -3px -3px 6px #222, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000, inset 0 0 10px #111;
     max-width: 150px;
     border-radius: 10px;
}
.item-image img {
     max-width: 150px;
     border-radius: 10px;
     opacity: 0.8;
     transition: ease-in 0.4s;
 }
 .item-image img:hover {
     opacity: 1.0;
     transition: ease-in 0.4s;
     box-shadow: 0 0 10px white;
 }
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
    }
    .none {
        display: none;
    }
}  