<style>
    .spread-container {
        background: #000;
        width: 100%;
        height: 150px;
        min-height: 150px;
        max-height: 6000px;
        box-shadow: none;
    }
    .spread-container h5 {
        text-align: center;
        padding: 10px;
    }
    .spread-container a {
        color: #fff;
    }
</style>

<div class="spread-container">
    <h5>Aether Home</h5>
    <i style="font-size: 2rem; color: rgba(255, 255, 255, 0.3); padding: 20px; text-shadow: 0 0 2px lightskyblue;" class="fas fa-space-shuttle"></i>

    <a href="/aether/universe">Universe Home</a>
</div>