<style>
    .spread-container {
        background: #000;
        width: 100%;
    }
    .spread-container h5 {
        text-align: center;
        padding: 10px;
    }
    .spread-container a {
        color: #fff;
    }
</style>

<div class="spread-container">
    <h5>Planet Home</h5>
    <i style="font-size: 2rem; color: rgba(255, 255, 255, 0.3); padding: 20px; text-shadow: 0 0 2px lightskyblue;" class="fas fa-space-shuttle"></i>
    <a href="/aether">Aether Home</a>

    <div class="add-universe">
        <form action="/aether/universe/<%= universe.id %>/galaxy/<%= galaxy.id %>/solar-system/<%= solarSystem.id %>/planet/add" method="post">
            <input type="text" name="name" placeholder="Name of Galaxy">
            <input type="text" name="forSolarSystem" placeholder="Name of Planet" value="<%= solarSystem.id %>">
            <input type="number" name="dimXpos" placeholder="Dimension X Positive">
            <input type="number" name="dimXneg" placeholder="Dimension X Negative">
            <input type="number" name="dimXspeed" placeholder="Dimension X Speed">
            <input type="number" name="dimYpos" placeholder="Dimension Y Positive">
            <input type="number" name="dimYneg" placeholder="Dimension Y Negative">
            <input type="number" name="dimYspeed" placeholder="Dimension Y Speed">
            <input type="number" name="dimZpos" placeholder="Dimension Z Positive">
            <input type="number" name="dimZneg" placeholder="Dimension Z Negative">
            <input type="number" name="dimZspeed" placeholder="Dimension Z Speed">
            <input type="number" name="posX" placeholder="Position X">
            <input type="number" name="posY" placeholder="Position Y">
            <input type="number" name="posZ" placeholder="Position Z">
            <input type="number" name="rotX" placeholder="Rotation X">
            <input type="number" name="rotY" placeholder="Rotation Y">
            <input type="number" name="rotZ" placeholder="Rotation Z">
            <input type="number" name="time" placeholder="Age in Years">
            <button type="submit">Add Planet</button>
        </form>
    </div>
</div>