<style>
    p {
        color: #fff;
    }
    .list {
        width: 100%;
    }
    .unit-container {
        width: 100%;
        border-radius: 8px;
    }
    .unit-header {
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        padding: 5px;
        border-bottom: groove 2px lightskyblue;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .unit-header h3 {
        text-align: center;
        color: #fff;
    }
    .unit-header h5 {
        color: #fff;
        text-align: center;
    }
    .list-item {
        width: 90%;
        margin-left: 5%;
    background: rgba(135, 206, 250, 0.3);
    border-left: groove 2px lightskyblue;
    border-right: groove 2px lightskyblue;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: groove 2px lightskyblue;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    color: #fff;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
}
.list-item p {
    margin-bottom: 0;
}
.list-item a {
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 18px rgba(135, 206, 250, 0.5);
}
.list-data {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-top: groove 2px lightskyblue;
    border-bottom: groove 2px lightskyblue;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}
</style>


<div class="list">

    <div class="list-item">
        <p><%= unit.name %></p>
    </div>
    <div class="list-data">
        <p><%= unit %></p>
    </div>
</div>
