<style>
    .spread-container {
        background: #000;
        width: 100%;
        box-shadow: none;
    }
    .spread-container h5 {
        text-align: center;
        padding: 10px;
    }
    .spread-container a {
        color: #fff;
    }
    .add-universe {
        width: 100%;
        background: lime;
    }
    .add-universe input {
        width: 100%;
        display: block;
    }
    .list {
        background: blue;

    }
</style>

<div class="spread-container">
    <h5>Universe Home</h5>
    <i style="font-size: 2rem; color: rgba(255, 255, 255, 0.3); padding: 20px; text-shadow: 0 0 2px lightskyblue;" class="fas fa-space-shuttle"></i>
    <a href="/aether"><%= universe.name %> Home</a>

    <div class="add-universe">
        <form action="/aether/universe/add" method="post">
            <input type="text" name="name" placeholder="Name of Universe">
            <input type="number" name="dimXpos" placeholder="Dimension X Positive">
            <input type="number" name="dimXneg" placeholder="Dimension X Negative">
            <input type="number" name="dimXspeed" placeholder="Dimension X Speed">
            <input type="number" name="dimYpos" placeholder="Dimension Y Positive">
            <input type="number" name="dimYneg" placeholder="Dimension Y Negative">
            <input type="number" name="dimYspeed" placeholder="Dimension Y Speed">
            <input type="number" name="dimZpos" placeholder="Dimension Z Positive">
            <input type="number" name="dimZneg" placeholder="Dimension Z Negative">
            <input type="number" name="dimZspeed" placeholder="Dimension Z Speed">
            <input type="number" name="time" placeholder="Age in Years">
            <button type="submit">Add Universe</button>
        </form>
    </div>
    
    
    <div class="list">
        
        <% universe.galaxies.forEach(function(galaxy) { %>
            <div class="list-item">
                <p><a href="/aether/universe/<%= universe.id %>/galaxy/<%= galaxy.id %>"><%= galaxy.name %></a></p>
            </div>
            <% }) %>
        </div>
    </div>