<style>
    .main-header-page-menu-container {
        background: rgba(135, 206, 250, 0.5);
        backdrop-filter: blur(4px);
        border-top: outset 2px #fff;
        border-bottom: outset 2px #fff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: scroll;
        width: 100%;
        max-width: 100vw;
        padding: 5px;
    }


    .main-header-page-menu-inner-item {
        min-width: 120px;
        margin-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    .main-header-page-menu-inner-item a {
        text-align: center;
        text-decoration: none;
        color: #fff;
        padding: 5px;
        font-size: 1.3rem;
    }
</style>

<div class="main-header-page-menu-container">
    <div class="main-header-page-menu-inner-item">
        <a href="/socialspread">Home</a>
    </div>
    <div class="main-header-page-menu-inner-item">
        <a href="/socialspread/podcasts">Articles</a>
    </div>
    <div class="main-header-page-menu-inner-item">
        <a href="/socialspread/photospread">Photos</a>
    </div>
    <div class="main-header-page-menu-inner-item">
        <a href="/socialspread/giphyspread">Gifs</a>
    </div>
    <div class="main-header-page-menu-inner-item">
        <a href="/socialspread/videospread/pixabay">Videos</a>
    </div>
    <div class="main-header-page-menu-inner-item">
        <a href="/socialspread/news">Questions</a>
    </div>
    <div class="main-header-page-menu-inner-item">
        <a href="/socialspread/sports">Polls</a>
    </div>

</div>
