<style>
    .main-header-page-menu-container {
        background: rgba(135, 206, 250, 0.5);
        backdrop-filter: blur(4px);
        border-top: outset 2px #fff;
        border-bottom: outset 2px #fff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
        margin-bottom: 20px;
    }

    .main-header-page-menu-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: scroll;
        width: 100%;
    }

    .main-header-page-menu-inner-item {
        min-width: 120px;
        margin-top: 5px;
        text-align: center;
    }
    .main-header-page-menu-inner-item a {
        text-align: center;
        text-decoration: none;
        color: #fff;
        padding: 5px;
        font-size: 1.3rem;
    }
</style>

<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenu">
        <div class="main-header-page-menu-inner">
            <div class="main-header-page-menu-inner-item">
                <a href="/entertainment">Home</a>
            </div>
            <div class="main-header-page-menu-inner-item">
                <a href="/entertainment/movies">Movies</a>
            </div>
            <div class="main-header-page-menu-inner-item">
                <a href="/entertainment/tv">TV Shows</a>
            </div>
            <div class="main-header-page-menu-inner-item">
                <a href="/entertainment/music">Music</a>
            </div>
            <div class="main-header-page-menu-inner-item">
                <a href="/entertainment/podcasts">Podcasts</a>
            </div>
            <div class="main-header-page-menu-inner-item">
                <a href="/entertainment/news">News</a>
            </div>
            <div class="main-header-page-menu-inner-item">
                <a href="/entertainment/sports">Sports</a>
            </div>

        </div>
    </div>
</div>
